*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Lato', sans-serif;
    color: black;
    font-size: 62.5%;
}

.main_heading{
    width: 100vw;
    height: 10vh;
    display: flex;
    background-color: #111;
    .container{
        width:80%;
        height: 100%;
        margin: 0 auto;
        .heading{
            display: flex;
            justify-content:space-between;
            align-items: center;
            height: 100%;
            gap: 50px;
            .heading_logo{
                height:100%;
                border-radius: 50%;
                overflow: hidden;
                .logo{
                    width:100%;
                    height: 100%;
                }
            }
        }
        .heading_menu{
            display: flex;
            flex: 1;
            gap:20px;
            align-items: center;
            list-style: none;
            font-size: 1.6rem;
            .menu_item{
                .item_link{
                    color: #fff;
                }
            }
        }
        .heading_control{
            display: flex;
            justify-content: right;
            align-items: center;
            font-size: 1.6rem;
            gap: 15px;
            width: 30%;
            list-style: none;
            color: #fff;
            .control_item{
                #input_search{
                    outline: none;
                    border: none;
                    border-radius: 15px;
                    padding: 5px 10px;
                    font-size: 1.5rem;
                }
                i{
                    cursor: pointer;
                }
                i.search.icon:hover{
                    color: #888;
                }
            }
            .control_item.icon:hover ~ .control_item.input{
                width:100%;
                opacity: 1;
            }
            .control_item.input{
                order:0;
                width: 0;
                overflow: hidden;
                transition: 0.5s linear;
                opacity: 0;
                
            }
            .control_item.input:hover,
            #input_search:focus ~ .control_item.input{
                width:100%;
                opacity: 1;
            }
            .control_item.icon{
                order:1;
            }
            .control_item.menu{
                order:2;
            }
            .control_item-setting{
                display:none;
            }
        }
    }
}