{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" type="text/html" href="../../css/header.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="main_heading">
        <div class="container">
            <div class="stroke"></div>
            <div class="heading">
                <div class="heading_logo">
                    <a href="#" class="logo_link"><img src="https://designs.vn/wp-content/images/09-08-2013/logo_lagi_8_resize.JPG" alt="logo_heading" class="logo"></a>
                </div>
                <ul class="heading_menu">
                    <li class="menu_item"><a href="#" class="item_link">Trang chủ</a></li>
                    <li class="menu_item"><a href="" class="item_link">Sản phẩm</a></li>
                    <li class="menu_item"><a href="" class="item_link">Blog</a></li>
                </ul>
                <ul class="heading_control">
                    <li class="control_item icon">
                        <i class="search icon"></i>
                    </li>
                    <li class="control_item input">
                        <input type="text" name="input_search" id="input_search" placeholder="Tìm kiếm...">
                    </li>
                    <li class="control_item menu">
                        <i class="caret down icon"></i>
                        <ul class="control_item-setting">
                            <li class="item_setting"><a href="" class="item_setting-link">Đăng nhập</a></li>
                            <li class="item_setting"><a href="" class="item_setting-link">Đăng ký</a></li>
                            <li class="item_setting"><a href="" class="item_setting-link">Hõ trợ</a></li>
                            <li class="item_setting"><a href="" class="item_setting-link">Cài đặt</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main_banner">
        <div class="container">
            <img src="https://vuakhuyenmai.vn/wp-content/uploads/starbucks-new-drink6121.jpg" alt="banner" class="banner_img">
        </div>
    </div>
</body>
</html> --}}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="https://designs.vn/wp-content/images/09-08-2013/logo_lagi_8_resize.JPG" alt="logo_heading" class="logo"></a>
  {{!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button> --}}

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Trang chủ<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sản phẩm</a>
      </li>
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sản phẩm
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Hỗ trợ</a>
      </li> --}}
    </ul>
    {{!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
    </form> --}}
  </div>
</nav>